@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




.mainpage{
    // @media (min-width:640px) {
    //     .heading {
    //         display:flex;
    //         justify-content: center;

    //         width: 39rem;

    //         h3 {
    //             font-size: 70px;
    //         }
    //     }
    // }
    @media (max-width:500px) {
        
        align-items: center;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .tagline{
            font-size: 7rem;
        }
        .totalContainer{
            width: 75rem;
        }
    }
   
   

    color: white;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 50%;
    
    display: inline-flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
      
    
    .divide{
        @media (max-width: 1360) {
            font-size:1rem;
            padding: 0;
           }
            
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contactheading{
        
       @media (max-width: 1360) {
        font-size:1rem;
        padding: 0;
       }
        
        justify-content: center;
        align-items: center;
        border-top: 0.5rem solid white;
        font-size: 5rem;
        margin: 1rem;
        padding:3rem;
        border-bottom: 0.5rem solid white;
        transition: 0.5s ease-in-out;
        .tagline{
            @media (max-width: 1360) {
                font-size:1rem;
                padding: 0;
               }
       
            align-items: center;
            justify-content: center;
        }

    }
    .contactheading:hover{
        color:grey;
        cursor:pointer;
    }

    h3 {
        border-bottom: 3px solid white;
        
    }  
    
      
     .totalContainer{
        @media (max-width:427px) {
            display: flex;
            width: 20rem;
            
        }
       
        width: 25rem;
       
        height: fit-content;
        
        align-items: center;
        position:static;
        
        .instagramId {
            display: inline-flex;
            
          }
        
        display: grid;
        grid-template-columns: 20px auto;
        margin-left: 30px;
        padding:2rem;
        gap: 50PX;
        
        .logoos{
            display:inline-flex;
            flex-direction: column;
            gap:20px;
            margin-right: -1rem;
        }
        .logoimage{
            width: 2.5rem;
            height:2.5rem;
        } 
    }
        .logocontainer{
            display: flex;
            align-items: center;
            cursor: pointer;
            
            .logoimage{
                width: 50px;
                height: auto;
                margin-right: 20px;
            } 
        }



        
        
        
}

.details .logocontainer  :hover{
  color:antiquewhite;
}


