.certification {
    .desktopLayout {
      display: grid;
      grid-template-columns: repeat(2, 0fr);
      gap: 20px;
      height:100vh;
      width:100vw;
      justify-content: center;
      align-items: center;
      gap: 20rem;
      .images{
        transform: scale(150%);
      }
    }
  
    .mobileLayout {
      display: none;
      text-align: center;
      margin:0;
      padding:0;
      max-width: 100vw;
      .images{
        transform: scale(60%);
      }
  
      .buttons {
        margin-top: 10px;
  
        button {
          margin: 0 5px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          background-color: #0070f3;
          color: white;
          border: none;
          border-radius: 5px;
  
          &:hover {
            background-color: #005bb5;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .desktopLayout {
        display: none;
      }
      .mobileLayout {
        display: block;
      }
    }
  }
  