@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width:475px) {
    .body {
        width: 475px;
    }
}

@media (min-width:640px) {
    .body {
        width: 640px;
    }
}

@media (min-width:768px) {
    .body {
        width: 768px;
    }
}

@media (min-width:1024px) {
    .body {
        width: 1024px;
    }
}

@media (min-width:1284px) {
    .body {
        width: 1284px;
    }
}

@media (min-width:1536px) {
    .body {
        width: 1536px;
    }
}
.navMob{
    display: flex;
    width: 45rem;
    .headerButtonContainer{
        transform: scale(0);
        position: fixed;
        right: 0px;
        z-index: 20;
        @media (max-width: 767px) {
            transform: scale(1); // Show the button on small screens
        }
        .button{
            position: relative;
            margin: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: red;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .burger{
            width: 100%;
            position: relative;
            z-index: 1;
            &::after, &::before{
                content: "";
                display: block;
                height: 1px;
                width: 40%;
                margin: auto;
                background-color: black;
                position: relative;
                transition: transform 0.3s;
            }
        
            &::after{
                top: -5px;
            }
        
            &::before{
                top: 5px;
            }
        }
        
        .burgerActive{
        
            &::after{
                transform: rotate(45deg);
                top: -1px;
            }
        
            &::before{
                transform: rotate(-45deg);
                top: 0px;
            }
            
        }
    }
    @media (min-width: 768px) {
        display: none; // Show on medium and larger screens

      }
}



@media (min-width:475px) {
    .body {
        max-width: 475px;
    }
}

@media (min-width:640px) {
    .body {
        max-width: 640px;
    }
}

@media (min-width:768px) {
    .body {
        max-width: 768px;
    }
}

@media (min-width:1024px) {
    .body {
        max-width: 1024px;
    }
}

@media (min-width:1284px) {
    .body {
        max-width: 1284px;
    }
}

@media (min-width:1536px) {
    .body {
        max-width: 1536px;
    }
}
.navDesktop {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    position:absolute;
    display: flex;
    width: 100wh;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top:20px;
    display: none;
    @media (min-width: 768px) {
        display: flex; // Show on medium and larger screens
      }
    .copyright {
        display:flex;
        flex-direction: row;
        gap:30px;
        span.copy{
            color:white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        .names{
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
        span.authors {
            color: white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            transform: translateX(-100%);
            padding:0;
            will-change: transform;
            opacity:0;
        }
    }
    }
    .copyright:hover{
        span.copy{
            transform: rotate(360deg);
        }
        span.authors{
            transform: translateX(0);
            opacity:1;
        }
    }

    .links {
        display: flex;      
        flex-direction: row;
        gap: 40px;
        a {
            text-decoration: none;
            color: white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        a:hover {
            color: grey;
        }
    }
}