@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.navMob{
    display: normal;
    background: transparent;
    margin-left:1rem;
    .headerButtonContainer{
        
        transform: scale(1);
        position: fixed;
        top:0;
        right:0;
        z-index: 20;

        .button{
            z-index: 99;
            position: relative;
            margin: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: red;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .burger{
            width: 100%;
            position: relative;
            z-index: 1009;
            &::after, &::before{
                content: "";
                display: block;
                height: 1px;
                width: 40%;
                margin: auto;
                background-color: black;
                position: relative;
                transition: transform 0.3s;
            }
        
            &::after{
                top: -5px;
            }
        
            &::before{
                top: 5px;
            }
        }
        
        .burgerActive{
            z-index: 10009;
            &::after{
                transform: rotate(45deg);
                top: -1px;
            }
        
            &::before{
                transform: rotate(-45deg);
                top: 0px;
            }
            
        }
    }
    .copyright {
        display:flex;
        margin-left: 50px;
       
        align-items: center;
        gap:30px;
        span.copy{
            color:white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        .names{
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 30px;
        span.authors {
            color: white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            transform: translateX(-100%);
            padding:0;
            will-change: transform;
            opacity:0;
        }
    }
    }
    .copyright:hover{
        span.copy{
            transform: rotate(360deg);
        }
        span.authors{
            transform: translateX(0);
            opacity:1;
        }
    }
    @media (min-width: 768px) {
        display: none; // Show on medium and larger screens

      }
}



.navDesktop {
    font-family: "Raleway", sans-serif;
    font-size:1rem;
    position:absolute;
    margin-top: 20px;
     width: 100%;   
     overflow:hidden;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
    display: flex;
    box-sizing: border-box;
    @media (max-width: 767px) {
        display: none; // Show on medium and larger screens
      }
    .copyright {
        display:flex;
        flex-direction: row;
        gap:30px;
        span.copy{
            color:white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        .names{
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left:0.5rem;
        span.authors {
            color: white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            transform: translateX(-100%);
            padding:0;
            will-change: transform;
            opacity:0;
        }
    }
    }
    .copyright:hover{
        span.copy{
            transform: rotate(360deg);
        }
        span.authors{
            transform: translateX(0);
            opacity:1;
        }
    }

    .links {
        display: flex;      
        flex-direction: row;
        margin-left:1rem;
        gap:30px;
        
        a {
            text-decoration: none;
            color: white;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        a:hover {
            color: grey;
        }
    }
}