.mainpage{
    background-color: hsl(0, 0%, 0%);
    text-align:center;
    color:rgb(231, 242, 252);
    padding:20px;
    width:fit-content;
    height: fit-content;
    display: flex;
    align-items:center;
    justify-content: space-around;
    size: fit-content;
    
}

.hed{
    flex: 1;
    margin-right: 20px;
    
}
.img{
    flex: 1;
}
image{
    max-width: 100%;
    height: auto;
}



