body {

    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color:grey;
    width: 100%;
    justify-content: center;
    
}

@media (min-width:475px) {
    body {
        max-width: 475px;
    }
}

@media (min-width:640px) {
    body {
        max-width: 640px;
    }
}

@media (min-width:768px) {
    body {
        width: 768px;
    }
}

@media (min-width:1024px) {
    body {
        width: 1024px;
    }
}

@media (min-width:1284px) {
    body {
        width: 1284px;
    }
}

@media (min-width:1536px) {
    body {
        width: 1536px;
    }
}