.link{
    position: relative;
    display: flex;
    align-items: center;
    z-index:1;
    margin-left:15px;
    .indicator{
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        left: -30px;
    }
}
